.clear
%div{ :id => "entry_#{entry.id}", :value => entry.id, :class => "entry unselected"}
  .post
    %h2.title
      %a{:href => entry.url}= entry.title
      %br/
    #byline
      = "from #{link_to entry.subscription.title, subscription_path(entry.subscription)}"
      = "by #{entry.author}" unless entry.author.nil?
      = "• #{entry.published.strftime "%a, %b %d %H:%M"}" unless entry.published.nil?

      - metadata = @current_user.metadata_for(entry)
      - if !metadata.nil?
        = "• #{@current_user.metadata_for(entry).signal_text}"
     
    .essence
      = entry.essence
  - if !(defined? hide_controls)
    .controls
      - if @current_user.liked?(entry)
        <b>signal</b>
      - else
        %button{:id => "signal#{entry.id}", :class => "signal", :value => entry.id }
          signal

      - if @current_user.disliked?(entry)
        <b>noise</b>
      - else
        %button{:id => "noise#{entry.id}", :class => "noise", :value => entry.id }
          noise
      %a{ :onclick => "window.open('http://delicious.com/save?v=5&noui&jump=close&url='+encodeURIComponent('#{entry.url}'), 'delicious','toolbar=no,width=550,height=550'); return false;", :class => "delicious", :href => "" } <img id="delicious" src="http://static.delicious.com/img/delicious.small.gif" height="10" width="10" alt="Delicious" />bookmark

      •
      read?
      - if @current_user.has_read?(entry)
        = "<input type=\"checkbox\" id=\"check#{entry.id}\" value=\"#{entry.id}\" checked=\"true\" onclick=\"read(this)\" />"
      - else
        = "<input type=\"checkbox\" id=\"check#{entry.id}\" value=\"#{entry.id}\" onclick=\"read(this)\" />"
      .grid_1
    %br/ 
    
  - else
    .controls
    %br/
