#subs.grid_10
  #prologue
    - form_for :subscription, :style => "display: inline", :url => subscriptions_path do |f|
      = text_field :subscription, :feed_url
      = f.submit 'Add!'

    %h2{:id=>"feeds"}
      Want to add a new feed? 
    %br/
    %h2 
      ="You are subscribed to the following #{@subscriptions.size} feeds:"
  #subscriptions
    - @subscriptions.each do |subscription|
      .subscription
        .title
          = link_to subscription.title, subscription_path(subscription), :class => "subscription", :id => subscription.id
        = link_to 'remove', "/subscriptions/remove/#{subscription.id}", :confirm => 'Are you sure?', :class => 'remove'
