#content.grid_7.prefix_2
  %h2 Your subscriptions

  = link_to 'Add a subscription', new_subscription_path  
  %br/
  %br/
  %table
    - @subscriptions.each do |subscription|
      %tr
        %td
          = subscription.title
        %td
          = link_to 'Show', "", :class => "subscription", :id => subscription.id
        -#%td= link_to 'Edit', edit_subscription_path(subscription)
        %td= link_to 'Remove', "/subscriptions/remove/#{subscription.id}", :confirm => 'Are you sure?'

  <br />
