#content
  - last_date = nil
  - @entries.each do |e|
    .clear
    .grid_2
      - if last_date != e.published.yday then
        .date
          %h2
            =" #{e.published.strftime "%b %d"}"
        - last_date = e.published.yday
      - else
        %br/
          
    .grid_7
      %div{ :id => "entry_#{e.id}", :class => "entry"}
        %h2.title
          %a{:href => e.url}="• #{e.title}"
        %h3.origin
          = link_to e.subscription.title, subscription_path(e.subscription.id)
        .content
          = e.essence

        - if e.liked?
          <b>liked</b>
        - else
          = "<button id = \"liked#{e.id}\" onclick=\"liked(this);\" class=\"liked\" value=\"#{e.id}\">like</button>"

        - if e.disliked?
          <b>disliked</b>
        - else
          = "<button id = \"#{e.id}\"  onclick=\"disliked(this);\" class=\"disliked\" value=\"#{e.id}\">dislike</button>"

        \::
        read?
        - if e.read 
          = "<input type=\"checkbox\" id=\"check#{e.id}\" value=\"#{e.id}\" checked=\"true\" onclick=\"read(this)\" />"
        - else
          = "<input type=\"checkbox\" id=\"check#{e.id}\" value=\"#{e.id}\" onclick=\"read(this)\" />"

