%html
  %head 
    %title
      thesis
  = stylesheet_link_tag 'application', '960.css'
  = javascript_include_tag "jquery-1.4.2.min", "jquery.infinitescroll", "jquery.scrollTo-min.js", "jquery.masonry.js", "application"
#header.container_12
  .grid_8
    %h1
      <a id= "home" href="">Hello World.</a>

    - if !@current_user.nil? then
      -# form_for :subscription, :url => subscriptions_path do |f|
        = text_field :subscription, :feed_url
        = f.submit 'add sub'
      = "user: #{@current_user.id}"
      •
      = link_to "subscriptions", '', :id => "subscriptions"
      •      
      = link_to "classifications", '', :id => "classifications"
      •
      = link_to "logout", '/logout'
      
#burden.container_12
  = yield
