%html
  %head 
    %title
      readless
  = stylesheet_link_tag 'application', '960.css'
  = javascript_include_tag "jquery-1.4.2.min", "jquery.infinitescroll.min", "jquery.scrollTo-min.js", "jquery.masonry.js", "application"

#burden.container_16
  = yield
  
  #header.grid_6
    #logo
      %h1
        <a id= "home" href="/">read<br/>less</a>
    #cajoling
      %h1
        All the news that is fit to read.
    .clear

    - if !@current_user.nil? then
      
      #menu
        -# Fuck me, I don't know how to do this cleanly in CSS, it always gets overruled.
        - subscriptions = 'style="color: #551A8B"' if params[:controller] == "subscriptions"
        - classifications = 'style="color: #551A8B"' if params[:controller] == "classifications"
        #cajoling
          -#%h1
            = "Hello, #{@current_user.name}."
          %h2
            = "It's currently #{Time.now.strftime "%H:%M, %A %B %d"}."
            %br
            Check out your
            ="<a href=\"/subscriptions\" #{subscriptions}>subscriptions</a>,"
            ="<a href=\"/classifications\" #{classifications}>classifications</a>, or you can just"
            <a href="/logout">logout</a>.
      .clear
    = yield :metainfo


